<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Dynamic form builder
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- form builder-->
    <div class="row justify-content-center">
      <div class="row">
        <div class="col-sm-12">
          <form #dynamicForm="ngForm">
            <div class="row">
              <div class="col-sm-4">
                <label for="controleIdName">Input Id & Name</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="controleIdName"
                  name="controleIdName"
                  placeholder="Enter Input Id"
                  [(ngModel)]="controlModel.id"
                  (change)="controlModel.name = controlModel.id"
                />
              </div>
              <div class="col-sm-4">
                <label for="controlelabel">Input label</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="controlelabel"
                  name="controlelabel"
                  [(ngModel)]="controlModel.label"
                  placeholder="Enter Input label"
                />
              </div>
              <div class="col-sm-4">
                <label for="controleplaceholder">Input placeholder</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="controleplaceholder"
                  name="controleplaceholder"
                  [(ngModel)]="controlModel.placeholder"
                  placeholder="Enter Input placeholder"
                />
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-sm-4">
                <label for="controletype">Input type</label>
                <select class="form-control" id="controletype"
                name="controletype" (change)="onSelectType($event)">
                  <option value="0" disabled selected>Input Type</option>
                  <option
                    *ngFor="let type of controleTypes"
                    [value]="type"
                    id="controleTypeOptions"
                    name="controleTypeOptions" >
                    {{ jsonFormControlTypesMapping[type] }}
                  </option>
                </select>
              </div>
              <div class="col-sm-8">
                <!--validators-->
                <div class="card">
                  <div class="card-header">Validators</div>
                  <div class="card-body">
                    <!--required-->
                    <div class="form-check form-check-inline" >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="required"
                      name="required"
                      [value]="isHaveRequired"
                      [checked]="isHaveRequired"
                      (change)="onCheckboxChange($event)" />
                    <label class="form-check-label" for="required">Required</label>
                  </div>
                    <!--required-->
                    <!--min-->
                    <div *ngIf="controlModel.type == 'number'"
                      class="form-check form-check-inline" >
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="min"
                        [value]="isHaveMin"
                        (change)="onCheckboxChange($event)" />
                      <label class="form-check-label" for="min">Min</label>
                    </div>
                    <!--min-->
                    <!--max-->
                    <div *ngIf="controlModel.type == 'number'"
                      class="form-check form-check-inline"
                    >
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="max"
                        [value]="isHaveMax"
                        (change)="onCheckboxChange($event)"
                      />
                      <label class="form-check-label" for="max">Max</label>
                    </div>
                    <!--max-->
                    <!--email-->
                    <div *ngIf="controlModel.type == 'email'"
                    class="form-check form-check-inline" >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="email"
                      [value]="isHaveEmail"
                      (change)="onCheckboxChange($event)" />
                    <label class="form-check-label" for="email">Email</label>
                    </div>
                    <!--email-->
                    <!--minLength-->
                     <div *ngIf="controlModel.type == 'text' || controlModel.type == 'textarea'"
                      class="form-check form-check-inline" >
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="minLength"
                        [value]="isHaveMinLength"
                        (change)="onCheckboxChange($event)" />
                      <label class="form-check-label" for="minLength">Min Length</label>
                      </div>
                    <!--minLength-->
                    <!--maxLength-->
                     <div *ngIf="controlModel.type == 'text' || controlModel.type == 'textarea'"
                      class="form-check form-check-inline" >
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="maxLength"
                        [value]="isHaveMaxLength"
                        (change)="onCheckboxChange($event)" />
                      <label class="form-check-label" for="maxLength">Max Length</label>
                      </div>
                    <!--maxLength-->
                  </div>
                </div>

                <!--validators-->
              </div>
            </div>
            <br/>
            <div *ngIf="controlModel.type == 'select'" class="row">
              <div class="card">
                <div class="card-header">Select Options</div>
                <div class="card-body">
                  <div class="row">
                  <div  class="col-sm-6">
                    <label for="selectoptionkey">Option key</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="selectoptionkey"
                      name="selectoptionkey"
                      [(ngModel)]="selectoption.key"
                      placeholder="Option key"
                    />
                  </div>
                  <div  class="col-sm-6">
                    <label for="selectoptionvalue">Option Value</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="selectoptionvalue"
                      name="selectoptionvalue"
                      [(ngModel)]="selectoption.value"
                      placeholder="Option Value"
                    />
                  </div>
                  <br/>

                </div>
                <br/>
                <div class="row">
                  <button type="button" class="btn btn-primary" (click)="addSelectOption()">Add Select Option</button>
                </div>
                </div>
              </div>


          </div>
            <br/>
            <div class="row">
                <!--validators-->
                <div class="card">
                  <div class="card-header">Validators Inputs</div>
                  <div class="card-body">
                    <div class="row">
                    <div *ngIf="isHaveMin" class="col-sm-6">
                      <label for="minvalidationvalue">Min Validation Value</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="minvalidationvalue"
                        name="minvalidationvalue"
                        [(ngModel)]="validators.min"
                        placeholder="Min Validation Value"
                      />
                    </div>
                    <div *ngIf="isHaveMax" class="col-sm-6">
                      <label for="maxvalidationvalue">Max Validation Value</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="maxvalidationvalue"
                        name="maxvalidationvalue"
                        [(ngModel)]="validators.max"
                        placeholder="Max Validation Value"
                      />
                    </div>

                    <div *ngIf="isHaveMinLength" class="col-sm-6">
                      <label for="minLengthvalidationvalue">Min Length Validation Value</label>
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        id="minLengthvalidationvalue"
                        name="minLengthvalidationvalue"
                        [(ngModel)]="validators.minLength"
                        placeholder="Min Length Validation Value"
                      />
                    </div>
                    <div *ngIf="isHaveMaxLength" class="col-sm-6">
                      <label for="maxLengthvalidationvalue">Max Length Validation Value</label>
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        id="maxLengthvalidationvalue"
                        name="maxLengthvalidationvalue"
                        [(ngModel)]="validators.maxLength"
                        placeholder="Max Length Validation Value"
                      />
                    </div>

                  </div>
                  </div>
                </div>

                <!--validators-->

            </div>
            <br/>
            <button type="button" class="btn btn-primary" (click)="addControle()">Add Controle</button>
          </form>
        </div>
        <div></div>
      </div>

      <!-- <div class="row">
          <div class="col-sm-6">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">First Name Input</h5>
                <p class="card-text">
                  add first name input to register form
                </p>
                <a (click)="addControle($event)" class="btn btn-primary" style="margin-right: 7px;">Add Controle</a>
                <a (click)="removeControle($event)" class="btn btn-danger">Remove Controle</a>
              </div>
            </div>
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Last Name Input</h5>
                <p class="card-text">
                  add last name input to register form
                </p>
                <a (click)="addControle($event)" class="btn btn-primary" style="margin-right: 7px;">Add Controle</a>
                <a (click)="removeControle($event)" class="btn btn-danger">Remove Controle</a>
              </div>
            </div>
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Salutation Input</h5>
                <p class="card-text">
                  add salutation input to register form
                </p>
                <a (click)="addControle($event)" class="btn btn-primary" style="margin-right: 7px;">Add Controle</a>
                <a (click)="removeControle($event)" class="btn btn-danger">Remove Controle</a>
              </div>
            </div>
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">JobTitle Input</h5>
                <p class="card-text">
                  add jobTitle input to register form
                </p>
                <a (click)="addControle($event)" class="btn btn-primary" style="margin-right: 7px;">Add Controle</a>
                <a (click)="removeControle($event)" class="btn btn-danger">Remove Controle</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Company Input</h5>
                <p class="card-text">
                  add company input to register form
                </p>
                <a (click)="addControle($event)" class="btn btn-primary" style="margin-right: 7px;">Add Controle</a>
                <a (click)="removeControle($event)" class="btn btn-danger">Remove Controle</a>
              </div>
            </div>
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Country Input</h5>
                <p class="card-text">
                  add country input to register form
                </p>
                <a (click)="addControle($event)" class="btn btn-primary" style="margin-right: 7px;">Add Controle</a>
                <a (click)="removeControle($event)" class="btn btn-danger">Remove Controle</a>
              </div>
            </div>
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Phone Input</h5>
                <p class="card-text">
                  add phone input to register form
                </p>
                <a (click)="addControle($event)" class="btn btn-primary" style="margin-right: 7px;">Add Controle</a>
                <a (click)="removeControle($event)" class="btn btn-danger">Remove Controle</a>
              </div>
            </div>
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Email Input</h5>
                <p class="card-text">
                  add email input to register form
                </p>
                <a (click)="addControle($event)" class="btn btn-primary" style="margin-right: 7px;">Add Controle</a>
                <a (click)="removeControle($event)" class="btn btn-danger">Remove Controle</a>
              </div>
            </div>
          </div>
        </div> -->
    </div>
    <!-- end form builder-->
    <!-- form builder result-->
    <div class="row justify-content-center"></div>
    <!-- end form builder result-->
  </div>
</section>
