
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div
    class="form-group col-md-4"
    *ngFor="let control of jsonFormData?.controls"
  >
    <label attr.for="{{ control.id }}">{{ control.label }}</label>
    <input
      class="form-control"
      attr.id="{{ control.id }}"
      *ngIf="
        [
          'text',
          'password',
          'email',
          'number',
          'search',
          'tel',
          'url'
        ].includes(control.type)
      "
      [type]="control.type"
      [formControlName]="control.name"
      [value]="control.value"
      attr.placeholder="{{ control.placeholder }}"
    />
    <textarea
      class="form-control"
      attr.id="{{ control.id }}"
      *ngIf="control.type === 'textarea'"
      [formControlName]="control.name"
      [value]="control.value"
      attr.placeholder="{{ control.placeholder }}"
    ></textarea>
    <select  class="form-control"
    attr.id="{{ control.id }}"
    *ngIf="control.type === 'select'"
    [formControlName]="control.name"

    >
    <option *ngFor="let opt of control.selectoptions" [value]="opt.key">{{opt.value}}</option>
    </select>
    <div class="col-sm-5" *ngIf="['checkbox'].includes(control.type)">
      <div class="form-check">
        <input
          class="form-check-input"
          attr.id="{{ control.id }}"

          [type]="control.type"
          [formControlName]="control.name"
          [value]="control.value"
        />
        <label class="form-check-label" attr.for="{{ control.id }}"></label>
      </div>
    </div>

  </div>

  <button type="submit" class="btn btn-primary">submit</button>
</form>
