<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div
    class="form-group col-md-4"
    *ngFor="let control of jsonFormData?.controls"
  >
    <label attr.for="{{ control.id }}">{{ control.label }}</label>
    <input
      class="form-control"
      attr.id="{{ control.id }}"
      *ngIf="
        [
          'text',
          'password',
          'email',
          'number',
          'search',
          'tel',
          'url'
        ].includes(control.type)
      "
      [type]="control.type"
      [formControlName]="control.name"
      [value]="control.value"
      attr.placeholder="{{ control.placeholder }}"
    />
    <div
      *ngIf="
        dynamicForm.controls[control.name].invalid &&
        (dynamicForm.controls[control.name].dirty ||
          dynamicForm.controls[control.name].touched) &&
          [
          'text',
          'password',
          'email',
          'number',
          'search',
          'tel',
          'url'
        ].includes(control.type)
      "
      class="error-txt-msg mb-2" style="color: red;"
    >
      <div *ngIf="dynamicForm.controls[control.name].hasError('required')">
        Is required.
      </div>
      <div *ngIf="dynamicForm.controls[control.name].hasError('minlength')">
        Must be at least {{ control.validators.minLength }} characters long.
      </div>
      <div *ngIf="dynamicForm.controls[control.name].hasError('maxlength')">
        Mustn't be greeter than {{ control.validators.maxLength }} characters.
      </div>
      <div *ngIf="dynamicForm.controls[control.name].hasError('min')">
        Must be at least {{ control.validators.minLength }} digit long.
      </div>
      <div *ngIf="dynamicForm.controls[control.name].hasError('max')">
        Mustn't be greeter than {{ control.validators.maxLength }} digit.
      </div>
      <div *ngIf="dynamicForm.controls[control.name].hasError('email')">
        Enter valid email.
      </div>
      <div *ngIf="dynamicForm.controls[control.name].hasError('pattern')">
        Incorrect format.
      </div>
    </div>
    <textarea
      class="form-control"
      attr.id="{{ control.id }}"
      *ngIf="control.type === 'textarea'"
      [formControlName]="control.name"
      [value]="control.value"
      attr.placeholder="{{ control.placeholder }}"
    ></textarea>
    <div
    *ngIf="
    control.type === 'textarea' &&
      dynamicForm.controls[control.name].invalid &&
      (dynamicForm.controls[control.name].dirty ||
        dynamicForm.controls[control.name].touched)
    "
    class="error-txt-msg mb-2" style="color: red;"
  >
    <div *ngIf="dynamicForm.controls[control.name].hasError('required')">
      Is required.
    </div>
    <div *ngIf="dynamicForm.controls[control.name].hasError('minlength')">
      Must be at least {{ control.validators.minLength }} characters long.
    </div>
    <div *ngIf="dynamicForm.controls[control.name].hasError('maxlength')">
      Mustn't be greeter than {{ control.validators.maxLength }} characters.
    </div>
  </div>
    <select
      class="form-control"
      attr.id="{{ control.id }}"
      *ngIf="control.type === 'select'"
      [formControlName]="control.name"
    >
      <option value="" disabled selected>Select</option>
      <option *ngFor="let opt of control.selectoptions" [value]="opt.key">
        {{ opt.value }}
      </option>
    </select>
    <div
      *ngIf="
      control.type === 'select' &&
        dynamicForm.controls[control.name].invalid &&
        (dynamicForm.controls[control.name].dirty ||
          dynamicForm.controls[control.name].touched)
      "
      class="error-txt-msg mb-2" style="color: red;"
    >
      <div  *ngIf="dynamicForm.controls[control.name].hasError('required')">
        Is required.
      </div>
    </div>
    <div class="col-sm-5" *ngIf="['checkbox'].includes(control.type)">
      <div class="form-check">
        <input
          class="form-check-input"
          attr.id="{{ control.id }}"
          [type]="control.type"
          [formControlName]="control.name"
          [value]="control.value"
        />
        <label class="form-check-label" attr.for="{{ control.id }}"></label>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">submit</button>
</form>
